20191104

ダウンロードしたtxtをcsvに変換する

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/T-TPM-100.txt", sep='\t')

In [3]:
df.head()

,id,NM_000014,NM_000015,NM_000016,NM_000017,NM_000018,NM_000019,NM_000020,NM_000021,NM_000022,...,NR_130975,NR_130976,NR_130977,NR_130978,NR_130990,NR_131012,NR_131032,NR_131066,NR_131091,NR_131092
0,DRR000897,2.01043,0.000000,41.8996,7.14537,166.3490,61.9589,0.0,11.3750,3.10128,...,0.0,0.0,0.000000,0.0,0.0,0.273170,0.0,0.434368,0.0,0.0
1,DRR001173,0.00000,0.200049,21.9467,20.89280,125.0440,93.3776,0.0,20.2166,5.27255,...,0.0,0.0,0.000000,0.0,0.0,2.178310,0.0,0.428407,0.0,0.0
2,DRR001174,0.00000,0.000000,25.1586,13.51150,30.1159,108.0010,0.0,21.0022,5.26211,...,0.0,0.0,1.384980,0.0,0.0,1.824380,0.0,1.012060,0.0,0.0
3,DRR001175,0.00000,0.000000,17.9916,6.60969,19.5618,74.1284,0.0,24.0081,3.53061,...,0.0,0.0,0.329159,0.0,0.0,0.657773,0.0,0.459928,0.0,0.0
4,DRR001176,0.00000,0.000000,14.3253,7.05922,110.2190,69.9635,0.0,14.7967,2.50536,...,0.0,0.0,1.921370,0.0,0.0,0.778309,0.0,0.490598,0.0,0.0

In [4]:
df.to_csv("data/T-TPM-100_test.csv", sep='\t', header=False, index=False)

スクリプトへ

txt2csv.py

In [ ]:
import pandas as pd
import sys

args = sys.argv
input_txt = args[1]
output_csv = args[2]

df = pd.read_csv(input_txt, sep='\t')
df.to_csv(output_csv, sep='\t', header=False, index=False)

使い方

In [ ]:
!python3 txt2csv.py T-TPM.txt T-TPM.csv